
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*ANDALA HEADER*/

.andala {
    font-family: poppins;
  
    font-weight: bold;
    background-color: #F8DEDB;
    width: 100%;
    
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo logo quien regalos rebajas contacto"
        "logo logo .     .       .       .";   

}

.andala div img {
    width: 150px;
}


.andala div {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.andala div a {
    text-decoration: none;
    font-family: poppins;
    font-weight: bold;
    color: #5C4030;
}


.andala__logo {
    grid-area: logo;
    
}

.andala__quien {
    grid-area: quien;
    
}

.andala__servicios {
    grid-area: servicios;
}

.andala__productos {
    grid-area: productos;
}

.andala__contacto {
    grid-area: contacto;
}


.banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    margin-top: 20px;
    justify-items: center;
    align-items: center;
    
}

.banner__inicio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-home {
    height: 350px;
    border-radius: 11px;

}


/*BANNER REBAJAS*/ 
.center1 {
    margin-top: 20px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    border-radius: 10px;
}

/*FILTROS PAG REGALOS*/
.linksinicio {
    list-style-type: none;
    font-family: poppins;
    color: #372216;
    margin-top: 20px;
    column-gap: 800px;

   
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.tarjetas {
    margin-top: 30px;
    column-gap: 80px;
    row-gap: 20px;
   
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.card {
    background-color: #ffffff;
    width: 300px;
    height: 405px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);  
}

.card_image {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card_title {
    font-size: 18px;
    font-family: poppins;
    font-weight: 600;
    color:#372216;
    margin-left: 8px;
}

.card__prices {
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
    color:#372216;
    padding: 4px;
    margin-left: 8px;
    text-decoration: line-through;
}

.card_price {
    font-size: 18px;
    font-family: poppins;
    font-weight: bold;
    color:#372216;
    padding: 4px;
    margin-left: 8px;
}

.card_promotion {
    font-size: 18px;
    font-family: poppins;
    font-weight: bold;
    color:#ff1654;
    padding: 4px;
    margin-left: 8px; 
}

.btn {
    background-color: #E2B69F;
    font-family: poppins;
    color: #372216;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 8px;
    padding: 4px;
}

.banner {
    width: 100%;
    margin-top: 35px;
}


.form {
    margin-top: 20px;
    background-color: #D7DADE;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    padding: 8px;
    width: 480px;
    margin-top: 15px;
}

.form h1 {
    font-size: 30px;
    font-family: poppins;
    font-weight: 600;
    color:#372216;
}

.form h2 {
    font-size: 20px;
    font-family: poppins;
    font-weight: 600;
    color:#372216;
}



.banner2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    border-radius: 10px;
    margin-top: 20px;
    border: #5C4030;
}


/*BANNER QUIENES SOMOS*/

.imagenPrincipal {
    margin-top: 20px;
    width: 100%;
}

.cifras {
    font-family: poppins;

    column-gap: 50px;
    row-gap: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos {
    width: 500;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}


.datos h1 {
    height: 180px;
    font-size: 145px;
    color: #F2BB80;
}

.datos h2 {
    font-size: 20px;
    color: #372216;
}


.detalles {
    color: #5C4030;
    margin-top: 20px;
    font-family: poppins;
    font-weight: bolder;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.categorías {
    list-style-type: none;
    margin-left: 20px;
    font-family: poppins;
    color: #5C4030;
}

.categorías h1 {
    font-size: 22px;
}


.container {
   display: flex;
   gap: 20px;
}


.tarjetasRebajas {
    margin-top: 10px;
    column-gap: 40px;
    row-gap: 20px;
   
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.tarjeticas {
    margin-top: 20px;
    column-gap: 80px;
    row-gap: 20px;
    background-color: #ffffff;
    width: 300px;
    height: 370px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.categorías {
    margin-top: 10px;
}

.mapa {
    margin-top: 20px;
    margin-left: 20px;
}

.formularios {
    width: 400px;
    background-color: #f3f4f5;
    padding: 30px;
    margin-left: 60px;
    margin-top: 25px;
    border-radius: 4px;
    font-family: poppins;
    color: #372216;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.formularios h1 {
    font-size: 25px;
    color: #5C4030;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 100%;
    font-family: poppins;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ebecef;
}

.dejanostucomentario {
    width: 100%;
    height: 150px;
    font-family: poppins;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ebecef;
}

.boton {
    width: 100%;
    border: none;
    padding: 12px;
    background-color: #5C4030;
    color: white;
    margin: 16px 0;
    font-family: poppins;
    font-weight: bold;
    border-radius: 4px;
}

.formu {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.pie {
    background-color: #E2B69F;
    padding: 15px;
    margin-top: 35px;
    color: hsl(22, 31%, 27%);
    font-family: poppins;
    font-weight: bolder;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.1);
}
























@media screen and (max-width: 767px) {

    
    .banner-home {
        width: 100%;
     
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tarjetasRebajas {
    margin-top: 20px;
    column-gap: 20px;
    row-gap: 10px;
    }

    .tarjeticas {
        width: 200px;
        height: 280px;
        margin-top: 5px;
        column-gap: 80px;
        row-gap: 20px;
        background-color: #ffffff;
    
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
    }

    .tarjetas {
        margin-top: 20px;
        column-gap: 20px;
        row-gap: 10px;
    }

    .card {
        width: 200px; 
        height: 310px;
    }

    .card_title {
            font-size: 16px;
            font-family: poppins;
            font-weight: 600;
            color:#372216;
            margin-left: 8px;
    }

    .andala {
    margin-top: 20px;
    column-gap: 20px;
    row-gap: 10px;
    }

    .center1 {
        width: 100%;
     
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .cifras {
    font-family: poppins;

    column-gap: 20px;
    row-gap: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos {
    width: 200px;
   
  
}


.datos h1 {
    height: 80px;
    font-size: 50px;
    color: #F2BB80;
}

.datos h2 {
    font-size: 11px;
    color: #372216;
}

    


}






 
   
 

 


    















