.formularios {
    width: 400px;
    background-color: #f3f4f5;
    padding: 12px;
    margin-left: 60px;
    margin-top: 25px;
    border-radius: 4px;
    font-family: poppins;
    color: #372216;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);

    .formularios h1 {
        font-size: 25px;
        color: #5C4030;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

.contact {
    width: 100%;
    font-family: poppins;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ebecef;
}

.dejanostucomentario {
    width: 100%;
    height: 150px;
    font-family: poppins;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ebecef;
}

.boton {
    width: 100%;
    border: none;
    padding: 12px;
    background-color: #5C4030;
    color: white;
    margin: 16px 0;
    font-family: poppins;
    font-weight: bold;
    border-radius: 4px;
}

.formu {
    display: flex;
    align-items: center;
    justify-content: center;
   
}