.pie {
    background-color: #E2B69F;
    padding: 15px;
    margin-top: 35px;
    color: hsl(22, 31%, 27%);
    font-family: poppins;
    font-weight: bolder;
    font-size: 10px;
    display: flex;
    justify-content: center;
}