.card_image {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}



.card__prices {
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
    color:#372216;
    padding: 4px;
    margin-left: 8px;
    text-decoration: line-through;
}

.tarjetasRebajas {
    margin-top: 10px;
    column-gap: 40px;
    row-gap: 20px;
   
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.tarjeticas {
    margin-top: 20px;
    column-gap: 80px;
    row-gap: 20px;
    background-color: #ffffff;
    width: 300px;
    height: 370px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.card_title {
    font-size: 18px;
    font-family: poppins;
    font-weight: 600;
    color:#372216;
    margin-left: 8px;
}

.card_price {
    font-size: 18px;
    font-family: poppins;
    font-weight: bold;
    color:#372216;
    padding: 4px;
    margin-left: 8px;
}

.btn {
    background-color: #E2B69F;
    font-family: poppins;
    color: #372216;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px;
    
}
